<configuration>
    <springProperty scope="context"
                    name="SLACK_WEBHOOK"
                    source="logging.slack.webhook"/>

    <property name="LOG_DIR" value="./logging/logs"/>

    <appender name="FILE" class="ch.qos.logback.core.rolling.RollingFileAppender">
        <file>${LOG_DIR}/application.log</file>

        <rollingPolicy class="ch.qos.logback.core.rolling.TimeBasedRollingPolicy">
            <fileNamePattern>${LOG_DIR}/application.%d{yyyy-MM-dd}.log</fileNamePattern>
            <maxHistory>7</maxHistory>
        </rollingPolicy>

        <encoder class="net.logstash.logback.encoder.LogstashEncoder">
            <customFields>{"service":"budongbudong","env":"dev"}</customFields>
        </encoder>
    </appender>

    <!-- Slack 알림 (ERROR 전용) -->
    <appender name="SLACK"
              class="com.github.maricn.logback.SlackAppender">

    <webhookUri>${SLACK_WEBHOOK}</webhookUri>
    <username>🚨 Error Bot</username>
    <iconEmoji>:rotating_light:</iconEmoji>
    <filter class="ch.qos.logback.classic.filter.ThresholdFilter">
        <level>ERROR</level>
    </filter>
<layout class="ch.qos.logback.classic.PatternLayout">
<pattern>🚑 ERROR 발생 확인이 필요합니다
Service : budongbudong
Env     : dev
Time    : %d{yyyy-MM-dd HH:mm:ss}

📍 Error 발생 위치
%logger{36}

📩 에러 메시지
%msg</pattern>
</layout>
    </appender>
    <root level="INFO">
        <appender-ref ref="FILE"/>
        <appender-ref ref="SLACK"/>
    </root>
</configuration>
