name: Java CI with Gradle

on:
  pull_request:
    branches: [ "dev" ]

permissions:
  contents: read

jobs:
  build-docker-image:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v3

      - name: Set up JDK 17
        uses: actions/setup-java@v3
        with:
          java-version: '17'
          distribution: 'temurin'

      - name: Grant execute permission for Gradle Wrapper
        run: chmod +x gradlew

      - name: Cache Gradle dependencies
        uses: actions/cache@v3
        with:
          path: ~/.gradle/caches
          key: ${{ runner.os }}-gradle-${{ hashFiles('**/*.gradle*', '**/gradle-wrapper.properties') }}
          restore-keys: |
            ${{ runner.os }}-gradle-

      - name: Build with Gradle
        uses: gradle/gradle-build-action@v2
        with:
          arguments: clean bootJar

      - name: Docker image build
        run: docker build -t ${{ secrets.DOCKER_USERNAME }}/budong-container .

      - name: Docker login
        uses: docker/login-action@v2
        with:
          username: ${{ secrets.DOCKER_USERNAME }}
          password: ${{ secrets.DOCKER_PASSWORD }}

      - name: Docker Hub push
        run: docker push ${{ secrets.DOCKER_USERNAME }}/budong-container

  run-docker-image-on-ec2:
    needs: build-docker-image
    runs-on: self-hosted

    steps:
      - uses: actions/checkout@v3

      - name: Docker pull
        run: sudo docker pull ${{ secrets.DOCKER_USERNAME }}/budong-container

      - name: Create .env file
        run: |
          echo "${{ secrets.APPLICATION_B64 }}" | base64 --decode > .env
          grep -q '^KAKAO_CLIENT_ID=' .env
          grep -q '^KAKAO_CLIENT_SECRET=' .env
          grep -q '^KAKAO_REDIRECT_URI=' .env

      - name: Docker Compose Down
        run: sudo docker-compose -p budong down

      - name: Docker Compose Up
        run: sudo docker-compose -p budong up -d
